#header_home_img {
  width: 32px;
  height: 32px;
  max-width: 100%;
}

#header_profile_img {
  width: 32px;
  height: 32px;
  max-width: 100%;
}

.linkForButtons {
  text-decoration: none !important;
}

div.bg-danger div.card {
  background-color: bisque !important;
}

#profile-register {
  color: #00ff00;
}

.marginZero {
  margin: 0;
}

.searchPfP {
  height: 64px;
  width: 64px;
  right: -15px;
  top: -15px;
  border-radius: 3px;
}

.searchTXT {
  line-height: 1.6;
}

.positionEditCard {
  right: -4em;
  top: 6em;
  z-index: 1;
}

.positionPI {
  top: -1px;
  left: -72px;
  height: 64px;
  width: 64px;
}

/*main pfp*/
.positionPI2 {
  top: -35px;
  left: -72px;
  border: 6px solid #28242c;
  background-color: #28242c;
  height: 112px;
  width: 112px;
  z-index: 1;
}

#profile_name {
  margin-left: 30px;
  margin-top: -20px;
}

#profile-register {
  margin-left: 30px;
  margin-top: -6px;
}

.shadow.ownSh {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.308) !important;
}

.own_width2{
  width: 50%!important;
}

.own_margin {
  margin-bottom: 5rem;
}

.positionLike {
  right: 0;
  bottom: 0;
  text-decoration: none !important;
}

.btn-own-color {
  background-color: #e2490c !important;
}

.rounded-pill.btn-own-color {
  border-color: #b13706 !important;
}

/* start icons in footer */
.iconSize1,
.iconSize2,
.iconSize3,
.iconSize4 {
  display: inline-block;
}

/* end icons in footer */

/* Start Responsible */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  p {
    font-size: 0.6rem;
  }
  .iconSize1 {
    width: 16px;
    height: 16px;
  }

  .iconSize2 {
    width: 16px;
    height: 16px;
  }

  .iconSize3 {
    width: 16px;
    height: 16px;
  }

  .iconSize4 {
    width: 16px;
    height: 16px;
  }
  .own_width {
    width: 100% !important;
  }

  .positionPI.csPI {
    top: 4px;
    left: auto;
    right: 6px;
    position: absolute;
    height: 48px;
    width: 48px;
    z-index: 1;
  }

  #profile_name {
    margin-left: 60px;
    margin-top: -20px;
  }

  #profile-register {
    margin-left: 60px;
    margin-top: -6px;
  }

  .positionPI2.csPI2 {
    top: -20px;
    left: -5px;
    height: 76px;
    width: 76px;
  }

  .positionEditCard {
    right: -0.5em;
    top: 6em;
    z-index: 1;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  p {
    font-size: 0.7rem;
  }

  .iconSize1 {
    width: 16px;
    height: 16px;
  }

  .iconSize2 {
    width: 16px;
    height: 16px;
  }

  .iconSize3 {
    width: 16px;
    height: 16px;
  }

  .iconSize4 {
    width: 16px;
    height: 16px;
  }
  .own_width {
    width: 80% !important;
  }

  .positionPI.csPI {
    top: 5px;
    left: auto;
    right: 8px;
    position: absolute;
    height: 48px;
    width: 48px;
    z-index: 1;
  }

  .positionPI2.csPI2 {
    top: -30px;
    left: -50px;
    height: 92px;
    width: 92px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  p {
    font-size: 0.8rem;
  }

  .iconSize1 {
    width: 26px;
    height: 26px;
  }

  .iconSize2 {
    width: 26px;
    height: 26px;
  }

  .iconSize3 {
    width: 26px;
    height: 26px;
  }

  .iconSize4 {
    width: 36px;
    height: 26px;
  }
  .own_width {
    width: 70% !important;
  }

  .positionPI2.csPI2 {
    top: -25px;
    left: -50px;
    height: 92px;
    width: 92px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  p {
    font-size: 0.9rem;
  }
  .iconSize1 {
    width: 26px;
    height: 26px;
  }

  .iconSize2 {
    width: 26px;
    height: 26px;
  }

  .iconSize3 {
    width: 36px;
    height: 36px;
  }

  .iconSize4 {
    width: 36px;
    height: 36px;
  }
  .own_width {
    width: 60% !important;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  p {
    font-size: 1rem;
  }
  .iconSize1 {
    width: 16px;
    height: 16px;
  }

  .iconSize2 {
    width: 26px;
    height: 26px;
  }

  .iconSize3 {
    width: 36px;
    height: 36px;
  }

  .iconSize4 {
    width: 46px;
    height: 46px;
  }

  .own_width {
    width: 50% !important;
  }
}
/* End Responsible */